name: Continuous Integration

on:
  push:
    branches-ignore:
      - 'main'
  pull_request:
    branches:
      - 'main'

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Install devbox
        uses: jetpack-io/devbox-install-action@v0.7.0
        with:
          enable-cache: 'true'
          project-path: './'

      - name: Run Lint
        run: devbox run -- pnpm lint

      - name: Check Format
        run: devbox run -- pnpm format:check

      - name: Run Tests
        run: devbox run -- pnpm test

      - name: Run Type Check
        run: devbox run -- pnpm type-check

      - name: Build Project
        run: devbox run -- pnpm build
